<%= form_for(@employee) do |f| %>

    <div>
      <%= f.text_field :user_id %>
      <%= f.text_field :full_name, placeholder: 'First and Last Name' %>
      <%= f.text_field :photo_path %>
      <%= f.text_field :email_address %>
      <%= f.text_field :headline %>
      <%= f.text_field :department_id %>
    </div>

    <div>
      <%= f.submit %>
    </div>

<% end %>