<%= form_for(@employee) do |f| %>

    <div>
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
      <%= f.label :department %>
      <%= f.select(:department_id, @departments.collect {|d| [d.name, d.id]}, :prompt => 'Select') %>
    </div>

    <div>
      <%= f.submit %>
    </div>

<% end %>